
<div class="token-action-hud-action">
    <button value="{{encodedValue}}">{{name}}{{#if info1}}<div class="token-action-hud-action-info1">{{info1}}</div>{{/if}}{{#if info2}}<div class="token-action-hud-action-info2">{{info2}}</div>{{/if}}</button>
</div>
