
<div class="token-action-hud-action">
    <button value="{{encodedValue}}">{{name}}{{#if quantity}}<div class="token-action-hud-action-quantity">{{quantity}}</div>{{/if}}{{#if charges}}<div class="token-action-hud-action-charges">{{charges}}</div>{{/if}}</button>
</div>
