
<div class="tokenActionHud-action">
    <button value="{{encodedValue}}">{{name}}{{#if quantity}}<div class="tokenActionHud-action-quantity">{{quantity}}</div>{{/if}}{{#if charges}}<div class="tokenActionHud-action-charges">{{charges}}</div>{{/if}}</button>
</div>
