
<div class="tah-category">
    <button class="tah-title-button"{{#if this.canFilter}} value="{{this.id}}"{{/if}}>{{cap this.name}}</button>
    <div class="tah-content">
        {{#each subcategories}}
        {{>"modules/token-action-hud/templates/subcategory.hbs"}}
        {{/each}}
    </div>
</div>
