
<div class="token-action-hud-category">
    <button class="token-action-hud-title-button">{{cap @key}}</button>
    <div class="token-action-hud-content">
        {{#each subcategories}}
        {{>"modules/token-action-hud/templates/subcategory.hbs"}}
        {{/each}}
    </div>
</div>
