
<div class="tah-category">
    <button class="tah-title-button">{{cap @key}}</button>
    <div class="tah-content">
        {{#each subcategories}}
        {{>"modules/token-action-hud/templates/subcategory.hbs"}}
        {{/each}}
    </div>
</div>
