
{{#if this.actions}}
<div class="token-action-hud-subcategory">
<div class="token-action-hud-subtitle">{{cap @key}} {{#if this.slots}}{{this.slots}}{{/if}}</div>
<div class="token-action-hud-actions">
{{#each actions}}
{{>"modules/token-action-hud/templates/action.hbs"}}
{{/each}}
</div>
</div>
{{/if}}
{{#if this.subcategories}}
{{#each subcategories}}
{{>"modules/token-action-hud/templates/subcategory.hbs"}}
{{/each}}
{{/if}}