
{{#if this.actions}}
<div class="tah-subcategory">
<div class="tah-subtitle">{{cap @key}} {{#if this.info}}{{this.info}}{{/if}}</div>
<div class="tah-actions">
{{#each actions}}
{{>"modules/token-action-hud/templates/action.hbs"}}
{{/each}}
</div>
</div>
{{/if}}
{{#if this.subcategories}}
{{#each subcategories}}
{{>"modules/token-action-hud/templates/subcategory.hbs"}}
{{/each}}
{{/if}}