
{{#if this.actions}}
<div class="tah-subcategory">
<div class="tah-subtitle">{{cap @key}}{{#if this.info}}<div class="tah-info1">{{this.info}}</div>{{/if}}</div>
<div class="tah-actions">
{{#each actions}}
{{>"modules/token-action-hud/templates/action.hbs"}}
{{/each}}
</div>
</div>
{{/if}}
{{#if this.subcategories}}
{{#each subcategories}}
{{>"modules/token-action-hud/templates/subcategory.hbs"}}
{{/each}}
{{/if}}