
<div id="{{id}}" style="top: {{top}}; left: {{left}};">
    {{#if actions.actorId}}
    <div id="token-action-hud-reposition"><i class="fas fa-arrows-alt"></i></div>
    {{#each actions.categories}}
    {{>"modules/token-action-hud/templates/category.hbs"}}
    {{/each}}
    {{/if}}
</div>
