#token-action-hud {
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 80px;
    left: 150px;
    position: fixed;
    height: auto;
    width: auto;
    margin: 5px;
    background: none;
    font-size: small;
}

#token-action-hud [class*="icon-"] {
    display: inline-block;
    width: 100%;
}

#token-action-hud:hover > #tah-reposition, #token-action-hud:hover > #tah-categories {
    display: block;
    position: absolute;
}

#tah-hudTitle {
    color: #fff;
    padding: 0.25em;
    margin: 0.25em;
    text-shadow: -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1);
    text-align: left;
    pointer-events: none;
    position: absolute;
    top:-25px !important;
}

#tah-reposition, #tah-categories {
    display: none;
    font-style: normal;
    font-weight: normal;
}

#tah-reposition:hover, #tah-categories:hover {
    cursor: pointer;
}

#tah-reposition {
    left: -20px;
}

#tah-categories {
    left: 100%;
}

#tah-reposition > .fa, #tah-reposition > .fas, #tah-categories > .fa, #tah-categories > .fas {
    color: #DDD;
    padding: 3px;
    margin: 3px;
    text-shadow: -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1);
    text-align: center;
    pointer-events: none;
}

#tah-reposition > .fa, #tah-reposition > .fas {
    font-size: small;
}

#tah-categories > .fa, #tah-categories > .fas {
    font-size: large;
}

#tah-reposition:hover > i, #tah-categories:hover > i {
    text-shadow: 0 0 10px #ff6400;
    color: #FFF;
}

/* The container <div> - needed to position the dropdown content */
.tah-category {
    position: relative;
    display: block;
    cursor: default;
}

.tah-title-button {
    width: auto;
    height: auto;
    color: #DDD;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 3px;
    margin: 3px;
    border: 1px solid #000;
}

.tah-title-button:hover {
    color: #FFF;
    font-weight: normal;
    color: #fff;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
    cursor: pointer;
}

.tah-title-button > .fa, .tah-title-button > .fas {
    visibility:hidden;
    width: auto;
    height: auto;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 6px;
    padding: 3px;
    margin: 1px;
    border: 1px solid transparent;
    pointer-events: none;
    position: absolute;
    top: 2px;
    right: 2px; 
}

.tah-title-button:hover > .fa, .tah-title-button:hover > .fas {
    visibility:visible;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.tah-content {
    display: none;
}

/* Show the dropdown menu on hover */
.tah-category.hover .tah-content {
    display: flex;
    flex-direction: column;
    padding: 2px;
    position: absolute;
    left: -155px;
    background: none;
}

.tah-subcategory {
    display: grid;
    grid-template-columns: 150px auto;
    grid-auto-rows: auto;
    min-height: 33px;
    cursor: default;
}

.tah-subtitle {
    position: relative;
    grid-column: 1;
    padding: 10px 8px 0px 0px;
    margin: 0px;
    min-width: 150px;    
    color: #fff;
    text-shadow: -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1);
    font-size: small;
    text-align: right;
    line-height: 1em;
}

.tah-filterholder {
    position: absolute;
    width: 0;
    height: 0;
    top:0px;
    right:5px;
}

.tah-subtitle > .tah-filterholder > .fa, .tah-subtitle >  .tah-filterholder > .fas {
    visibility:hidden;
    width: auto;
    height: auto;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 6px;
    border: 1px solid transparent;
    pointer-events: none;
    position: absolute;
    top: 3px;
    left: -3px;
}

.tah-subtitle:hover > .tah-filterholder > .fa, .tah-subtitle:hover > .tah-filterholder > .fas {
    visibility:visible;
}

.tah-actions {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 400px;
}

.tah-actions .stickLeft {
    width: auto;
    min-width:20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
    position: relative;
    left: -1px;
}

.tah-actions .shrink {
    width: auto;
    min-width:20px;
    height: 20px;
    padding: 0px;
    margin: 0px 0px 0px 3px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
}

.tah-actionSet {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* Links inside the dropdown */
.tah-action {
    flex-grow: 0;
    flex-basis: auto;
    padding: 3px 0px 3px 0px;
    margin: 3px 0px 3px 6px;
    background: none;
}

.tah-info1, .tah-info2, .tah-info3 {
    font-size: smaller;
    display: inline;
}

.tah-info1 {
    text-shadow: 0 0 1px rgba(2, 248, 14, 0.95),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1);
}

.tah-info2 {
    text-shadow:  0 0 1px rgba(240, 2, 248, 0.95),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1);
}

.tah-info3 {
    text-shadow:  0 0 1px rgba(2, 240, 248, 0.95),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1);
}

.tah-icon {
    display: inline;
}

.tah-img {
    display: inline;
    padding: 4px 12px 4px 12px;
    margin: 0px 5px 0px 0px;
    border-radius: 3px;
}

.tah-action .tah-img {
    border: 1px solid rgba(129, 129, 129, 0.877);
}

.tah-icon > .fa, .tah-icon > .fas {
    font-size: x-small;
    margin: 0px 2px 0px 0px;
}

.tah-subtitle > .tah-icon > .fa, .tah-subtitle > .tah-icon > .fas {
    text-shadow:  0 0 1px rgb(255, 255, 255),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1),
    -1px -1px 1px rgba(52, 52, 52, 1);
}

.tah-info1:before {
    content: " (";
}

.tah-info1:after {
    content: ")";
}

.tah-info2:before {
    content: " [";
}

.tah-info2:after {
    content: "]";
}

.tah-info3:before {
    content: " {";
}

.tah-info3:after {
    content: "}";
}
 
.tah-action button {
    width: 100%;
    min-width: 50px;
    font-size: small;
    text-decoration: none;
    color: #DDD;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.7);
}

/* Change color of dropdown links on hover */
.tah-action button:hover {
    font-weight: inherit;
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
    box-shadow: 0 0 10px #ff6400;
    cursor: pointer;
}

.tah-action .active {
    background: rgba(85, 17, 0, 0.7);
}

.tah-action .activeText:after {
    content: '*'
}